Manifest.java
R.java

/bak
/out
/gen
/bin
/true
*/bin/*
*/bin/**
*/gen/*
*/tmp/*
*/builds/*
*/classes/*
.idea/*
**/gen/**
.DS_Store

/bin

project.properties
*/project.properties
*.iml
*.ipr
local.properties
*/local.properties

.directory
*/.directory

# Gradle
.gradle
build