<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bankex.pay"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        />

    <application
        android:name=".BankexPayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:name"
        >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_io_id}"
            />

        <activity android:name=".presentation.ui.mainscreen.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.setpin.SetPinActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".presentation.ui.lockscreen.LockScreenActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".presentation.ui.onboarding.OnboardingActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".presentation.ui.importorcreatewallet.ImportOrCreateActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".presentation.ui.importwallet.ImportWalletActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".presentation.ui.qr.QRActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".presentation.ui.receive.ReceiveActivity"
            android:screenOrientation="portrait"
            />
    </application>
</manifest>
