<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bankex.pay">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bankex.pay.ui.splash.SplashActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bankex.pay.ui.startscreen.StartActivity" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.createwallet.CreateWalletActivity"
            android:parentActivityName="com.bankex.pay.ui.startscreen.StartActivity" />
        <activity
            android:name=".ui.importwallet.ImportWalletActivity"
            android:parentActivityName="com.bankex.pay.ui.startscreen.StartActivity" />
        <activity android:name=".ui.scanqr.ScanQRActivity" />
        <activity android:name=".ui.attention.attentionwarning.AttentionActivity" />
        <activity android:name=".ui.attention.attentioncopy.AttentionCopyActivity" />
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>