<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.bankex.pay"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:name=".BankexPayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        >

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabric_io_id}"/>

        <activity android:name=".ui.view.mainscreen.MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.view.setpin.SetPinActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.lockscreen.LockScreenActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.view.onboarding.OnboardingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.importorcreate.ImportOrCreateActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.importwallet.ImportWalletActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.qr.QRActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.view.receiveshareaddress.ReceiveShareAddressActivity"
            android:screenOrientation="portrait"/>
    </application>


</manifest>